<span>
    {{#if in_the_past}}
        {{weeks}} {{weeksString}} ago
    {{/if}}
    {{#if in_the_future}}
        in {{weeks}} {{weeksString}}
    {{/if}}
    {{#if this_week}}
        this week
    {{/if}}
</span>