html, body, .ember-view, .full-height {
    height: 100%;
    overflow: auto;
}

.row > div {
    padding: 0;
}

.map-canvas {
    height: 100%;
    width: 100%;
}

#logo{
	margin:10px;
}

.inline{
	display: inline;
}

