html, body, .ember-view, .full-height {
    height: 100%;
    overflow: auto;
}

.row > div {
    padding: 0;
}

#hackathon-controls {
	overflow-y: scroll;
}

.map-canvas {
    height: 100%;
    width: 100%;
}

#logo{
	margin:10px 20px;
}

.cardHeader {
	font-size:24px;
	margin:2px;
}

.siteButton{
	-webkit-transition: all 0.2s ease 0.2s;  /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease 0.2s;
}

.siteButton:hover {
	background-color:#C2C2D6;
	text-decoration:none;
}

.info {
	margin:0px;
}
