<div class="container-fluid full-height">
    <div class="row full-height">
        <div class="col-sm-2">
            {{view Ember.Select content=model value=selectedLocation optionLabelPath="content.name"}}

            {{input value=userLocationString}}
            <p>{{userLocationCoords}}</p>
        </div>
        <div class="col-sm-10 full-height">
            {{google-maps latitude=userLocationCoords.lat longitude=userLocationCoords.lng zoom="5" markers=model}}
        </div>
    </div>
</div>
